.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: hsl(220, 6%, 20%); */
}
.login > button {
  width: 300px;
  background-color: #738adb;
}
.login > button:hover {
  background-color: black;
  color: #738adb;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
}
